.shape{
    width: 1000px;
    height: 1000px;
    background: gold;
}
.dot{
    width: 10px;
    height: 10px;
    background: red;
    position:relative;
}

form{
    margin:20px 0;
}

label, input {
    display: block;
    margin: 10px 0;
}

