.container{
    display: flex;
    height: 90vh;
    border:solid 1px black;
    font-size: 32px;
    color: white;
}

.form    {
    width: 100px;
    height: 100px;
    background: red;
    margin: 10px;
} 



.shape1{
    order: 3;
}
.shape2{
    order: 4;

}
.shape3{
    order: 1;
    flex-grow: 2;
}
.shape4{
    order: 5;
    flex-grow: 3;
}
.shape5{
    order: 2;
    flex-grow: 2;

}